.button {
  background: transparent;
  border: 1px solid var(--color-grey-dark);
  border-radius: 5px;
  color: var(--color-front);
  cursor: pointer;
}

.defaultButton {
  &:hover,
  &:focus-visible {
    border-color: var(--color-front);
    outline: none;
  }
  &:active {
    background: var(--color-front);
    color: var(--color-back);
    outline: none;
  }
}

.iconButton {
  padding: 2px;
  background: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  & * {
    width: 100%;
    height: 100%;

    fill: var(--color-front);
    vertical-align: middle;
  }

  &:hover,
  &:focus-visible {
    background: var(--color-front);
    & * {
      fill: var(--color-back);
    }
  }
}

.divButton {
  display: flex;
  gap: 5px;
  overflow: hidden;

  & label {
    padding: 5px;
    font-size: 10pt;
    cursor: crosshair;
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--color-front);
    outline: none;
  }
}
