.titleContainer {
  padding: var(--margin);
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: var(--margin-50);
}

.title {
  display: flex;
  margin-left: var(--margin-50);
  margin-right: var(--margin-50);
}
