.panels {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.5fr;
  height: 100vh;
}

.panel .panel {
  border-right: none;
}
.panel {
  position: relative;
  display: grid;

  border-right: 1px solid var(--color-front);
  overflow: hidden;
}

.panel:not(.panel__network) {
  grid-template-rows: auto 1fr;
}

.panel > h2,
.panel > h3,
.panel .title {
  padding: var(--margin);
}

.panel__code {
  flex: 1;
  font-size: 8pt;
  font-family: var(--mono);
  white-space: pre-wrap;
  padding: var(--margin);
  cursor: text;
  overflow: auto;

  & span {
    font-family: var(--mono);
  }
  & span:not(:first-child) {
    opacity: 0.7;
  }
}

.panel ul {
  padding: var(--margin);
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.panelContent {
  padding: var(--margin-50) calc(var(--margin) * 2);
}

.darkModeToggle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: var(--margin-50);
  z-index: 10;
}

.packageHeading {
  display: flex;
  & > span {
    flex: 1;
  }
  & button {
    width: 17px;
    text-align: center;
    border-radius: 50%;
  }
}

.parameterPanel {
  position: absolute;
  top: 0px;
  right: 0px;

  display: flex;
  flex-direction: column;
  gap: var(--margin);

  margin: var(--margin-50);
  padding: var(--margin);

  background: var(--color-back);
  border: 1px solid var(--color-front);
  border-radius: var(--radius);
  z-index: 10;
}
.parameterRow {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  font-size: 10pt;
  & input {
    width: 75px;
  }
}
