@font-face {
  font-family: 'mono';
  src: url('./assets/GeistMono-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'geist';
  src: url('./assets/Geist-Regular.otf') format('opentype');
}

:root {
  --margin: 6px;
  --mono: mono;
  --font: geist;
  --color-back: rgb(250, 250, 250);
  --color-front: rgb(0, 0, 0);
  --color-grey-light: rgb(187.5, 187.5, 187.5);
  --color-grey: rgb(125, 125, 125);
  --color-grey-dark: rgb(62.5, 62.5, 62.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-front: rgb(250, 250, 250);
    --color-back: rgb(0, 0, 0);
  }
}

body {
  margin: 0;
  font-size: 11pt;
  background: var(--color-back);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body.panning * {
  user-select: none;
  cursor: crosshair;
}

*::selection {
  background: var(--color-front);
  color: var(--color-back);
}

* {
  font-family: var(--font);
  color: var(--color-front);
  &:not(body) {
    transition: border-color 0.25s, background 0.5s, outline 0.125s, fill 0.125s;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
ul,
li,
button {
  all: unset;
}
