.graph {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  z-index: 1;
}

.node {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */

  background: var(--color-back);
  border: 1px solid var(--color-front);
  border-radius: 5px;
  color: var(--color-front);
  cursor: move;

  &:hover {
    outline: 1px solid white;
  }

  &.selected {
    background: blue;
  }
}

.ports {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;

  opacity: 0.75;
}

.port {
  position: relative;
  height: 25px;
  min-width: 25px;

  background: white;
  border: 1px solid black;
  border-radius: 50%;
  color: var(--color-front);
  line-height: 25px;
  text-align: center;
}

.inputPort {
  position: absolute;
  top: 0px;
  left: 50%;
}

.outputPort {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.content {
  margin: 10px;
}

.label {
  padding-left: 5px;
  width: 100%;

  background: var(--color-back);
  border-radius: 10px;
  font-size: 10pt;
  min-height: 10px;
  min-width: 10px;
  user-select: none;
  white-space: nowrap;
}

.handle {
  display: flex;
  align-items: center;
  justify-content: top;
  width: 14px;
  height: 14px;

  color: var(--color-front);
  font-size: 6pt;
  border-radius: 50%;
  border: 1px solid var(--color-front);
  background: var(--color-back);
  cursor: pointer;

  &:hover {
    outline: 1px solid white;
  }
}

.handles {
  display: flex;
  gap: 2px;
  padding: 2px;
}

.handles.out {
  margin-bottom: -10px;
  & .handle {
    width: 12px;
    height: 12px;
    justify-content: bottom;
  }
}
.handles:not(.out) {
  margin-top: -10px;
}

.nodeName {
  padding: 5px;
  font-size: 10pt;
}
